<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinTCon</servlet-name>
  	<display-name>JoinTCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinTCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginTCon</servlet-name>
  	<display-name>LoginTCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginTCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTCon</servlet-name>
  	<display-name>DeleteTCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteTCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutCon</servlet-name>
  	<display-name>LogOutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogOutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<display-name>EmailCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>write</servlet-name>
  	<display-name>write</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.write</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>writeTipBoardCon</servlet-name>
  	<display-name>writeTipBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.writeTipBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateInfoCon</servlet-name>
  	<display-name>UpdateInfoCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateInfoCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAddress</servlet-name>
  	<display-name>GetAddress</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.GetAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTInfoCon</servlet-name>
  	<display-name>UpdateTInfoCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateTInfoCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuildBookingCon</servlet-name>
  	<display-name>BuildBookingCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BuildBookingCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectBookingCon</servlet-name>
  	<display-name>SelectBookingCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SelectBookingCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrainerInfoCon</servlet-name>
  	<display-name>TrainerInfoCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.TrainerInfoCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrainerListCon</servlet-name>
  	<display-name>TrainerListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.TrainerListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrainerProfileCon</servlet-name>
  	<display-name>TrainerProfileCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.TrainerProfileCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TIdCheckCon</servlet-name>
  	<display-name>TIdCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.TIdCheckCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinTCon</servlet-name>
  	<url-pattern>/JoinTCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginTCon</servlet-name>
  	<url-pattern>/LoginTCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTCon</servlet-name>
  	<url-pattern>/DeleteTCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutCon</servlet-name>
  	<url-pattern>/LogOutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<url-pattern>/EmailCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>write</servlet-name>
  	<url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>writeTipBoardCon</servlet-name>
  	<url-pattern>/writeTipBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInfoCon</servlet-name>
  	<url-pattern>/UpdateInfoCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAddress</servlet-name>
  	<url-pattern>/GetAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTInfoCon</servlet-name>
  	<url-pattern>/UpdateTInfoCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuildBookingCon</servlet-name>
  	<url-pattern>/BuildBookingCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectBookingCon</servlet-name>
  	<url-pattern>/SelectBookingCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrainerInfoCon</servlet-name>
  	<url-pattern>/TrainerInfoCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrainerListCon</servlet-name>
  	<url-pattern>/TrainerListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrainerProfileCon</servlet-name>
  	<url-pattern>/TrainerProfileCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TIdCheckCon</servlet-name>
  	<url-pattern>/TIdCheckCon</url-pattern>
  </servlet-mapping>

</web-app>

