@charset "EUC-KR";
@font-face {
    font-family: 'Rubik80sFade-Regular';
    src: url("Rubik80sFade-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&family=Gowun+Batang&family=Kanit&family=Lilita+One&family=Lobster&family=Michroma&family=Montserrat+Alternates&family=Moon+Dance&family=Play&family=Rubik+80s+Fade&family=Shadows+Into+Light&display=swap');

.wrap{
    width: 100%;
    position: absolute;
    top: 0px;left: 0px;
}

body,div,ul,li,a{font-family: Arial, Helvetica, sans-serif;}

*{padding:0; margin:0;}
li{list-style:none;}
a{color:inherit; text-decoration:none;}
button{border:none; border-radius:0%;}
input{border:none; border-radius:none;}
input:focus{outline:none;}
textarea{resize: none; padding:20px 30px; font-size:18px; font-family: Arial, Helvetica, sans-serif; border:none;}
textarea:focus{outline:none;}

.fc{display:flex; justify-content:center;}
.fb{display:flex; justify-content:space-between;}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
header h1{
    color: rgb(0, 50, 121);
    font-family:'Gloria Hallelujah';
}
header input{
    width: 12%;
    border-bottom: 1px solid black;
    align-self: center;
    padding-bottom: 5px;
}
header>ul{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.ul-forSize ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.ul-forSize{
    width: 20%;
    display: flex;
    justify-content: end;
}

.wrap header ul li span.en{display: block;}
.wrap header ul li span.ko{display: none;}
.wrap header ul li:hover span.ko{display: block;}
.wrap header ul li:hover span.en{display: none;}
.want-to-be-fixed li{
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}
.want-to-be-fixed li:first-child{
    width: 50.09px;
}
.want-to-be-fixed li:nth-child(2){
    width: 64px;
}
.want-to-be-fixed li:nth-child(3){
    width: 80.91px;
}
.want-to-be-fixed li:nth-child(4){
    width: 61.38px;
}

/* 여기까지 header부분 css */

.login{
    margin-top: 5%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1{
    font-weight: 300;
    padding: 25px;
    font-family:'Montserrat Alternates','Gloria Hallelujah';
    color: rgb(0, 43, 122);
}
.login-form{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.select-who{
    width: 30%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.9%;
}
label{
    line-height: 40px;
}
input[type='radio']{
    display: none;
}
input[type='radio']+label{
    display: block;
    width: 48%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}
input[type='radio']+label:hover{
    border-radius: 10px;
    transition: all 1s;
}
input[type='radio']:checked+label{
    background-color: rgb(0, 43, 122);
    color: white;
}


input[type='radio']+label .ko{display: none;}
input[type='radio']+label:hover .ko,input[type='radio']:checked+label span.ko{display: block;}
input[type='radio']+label:hover .en,input[type='radio']:checked+label span.en{display: none;}
/* input[type='radio']:checked+label span.ko{display: block;}
input[type='radio']:checked+label span.en{display: none;} */




.login-form>input{
    height: 17%;
    width: 30%;
    border-radius: 15px;
    border: 1px solid rgb(223, 223, 223);
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 17px;
}
.login-form>input::placeholder{
    /* padding-left: 2px; */
    font-size: 17px;

}
.remain-login{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 0.4% 0% 1% 2%; */
    padding-left: 2%;

}
input[type="checkbox"]{
    zoom: 1.2;
    accent-color: black;
    margin-right: 5px;
    border-color: rgb(206, 206, 206);
}

button{
    height: 15%;
    width: 30%;
    background-color: rgb(0, 43, 122);
    color: white ;
    border: 1px solid black;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    /* background-color: rgb(0, 0, 0); */
}
button:hover{
    color: white;
    /* border-radius: 20px; */
    transition-property: background-color, color;
    transition-duration: 1s;
}
button .block{display: block;}
button:hover .block{display: none;}
button .none{display: none;}
button:hover .none{display: block;}
.little-letter{
    width:10%;
    height: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.little-letter span{
    font-size: 12px;
    color: rgb(191, 191, 191);
}
.little-letter span:nth-child(2){
    color: black;
    font-size: 16px;
}
.little-letter span:hover{
    color: black;
    transition: color 1s;
}