<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.smhrd.model.ssulBoardDAO">

	 <insert id="ssulupload" parameterType="com.smhrd.model.ssulBoardVO">
		insert into tb_ssul_board (s_num,s_title,s_content,s_filename,s_date,u_id) values(
		TB_SSUL_BOARD_SEQ.nextval, #{title}, #{content},#{filename},sysdate,#{writer}
		)
	</insert> 
	<insert id="ssuluploadT" parameterType="com.smhrd.model.ssulBoardVO">
		insert into tb_ssul_board (s_num,s_title,s_content,s_filename,s_date,t_id) values(
		TB_SSUL_BOARD_SEQ.nextval, #{title}, #{content},#{filename},sysdate,#{writer}
		)
	</insert>

	<select id="showssulBoard" resultType="com.smhrd.model.ssulBoardVO">
	select * from tb_ssul_board
	</select>
	
	 <select id="detailssulBoard" parameterType="int" resultType="com.smhrd.model.ssulBoardVO">
	select * from tb_ssul_board where s_num=#{num}</select>


</mapper>