<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.smhrd.model.tipBoardDAO">
	<insert id="upload" parameterType="com.smhrd.model.tipBoardVO">
		insert into tb_tip_board values(
		TB_TIP_BOARD_SEQ.nextval, #{title}, #{content},#{filename},sysdate,#{writer},#{likes}
		)
	</insert>

	<select id="showTipBoard" resultType="com.smhrd.model.tipBoardVO">
	select * from tb_tip_board
	</select>
	
	<select id="detailTipBoard" parameterType="int" resultType="com.smhrd.model.tipBoardVO">
	select * from tb_tip_board where t_num=#{num}</select>


</mapper>