<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.TrainerDAO">

<insert id="joinTrainer" parameterType="com.smhrd.model.TrainerVO">
insert into TB_TRAINER values (#{id},#{pw},#{name},#{birth},#{mbti},#{gender},#{center},#{ttype},sysdate,#{phone},#{img_path},#{intro},#{score})
</insert>

<select id="selectOne" resultType="com.smhrd.model.TrainerVO" parameterType = "com.smhrd.model.TrainerVO">
		select * from TB_TRAINER where t_id=#{id} and t_pw=#{pw}
	</select>
<delete id="deleteTrainer" parameterType="String">
delete from TB_TRAINER where t_id=#{id}
</delete>

<update id="updateTrainer" parameterType= "com.smhrd.model.TrainerVO">
		update tb_trainer set t_pw=#{pw}, t_mbti=#{mbti},t_center=#{center},t_type=#{ttype},t_phone=#{phone} where t_id=#{id}
	</update>

<select id="selectAllTrainer" resultType="com.smhrd.model.TrainerVO">
		select * from tb_trainer
	</select>
	<select id="emailCheck" parameterType="String" resultType="boolean">
		select case when count(*)>0 then 1
					else 0
				end result
		from tb_trainer where T_ID=#{id}		
</select>
<select id="selectTrainerInfo" parameterType = "String" resultType = "com.smhrd.model.TrainerVO">
	select * from tb_trainer where t_id = #{id}
</select>
</mapper>