<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.smhrd.model.TrainerInfoDAO">
	<insert id="insertTrainerInfo" parameterType="com.smhrd.model.TrainerInfoVO">
	insert into tb_t_info values(#{id},#{certificate},#{introduce},#{price},#{notice},#{likes},#{center},#{program},#{method},#{schedule})
	</insert>
	<select id="selectTrainerInfo" parameterType = "String">
	select * from tb_t_info where t_id = #{tid}
	</select>
</mapper>
